---
version: '2'

services:
  node:
    build: .
    volumes:
      - "./app/static:/usr/src/app/static"
      - "./app/private:/usr/src/app/private"
      - "./app/code:/usr/src/app/app"
      - "./app/test:/usr/src/app/test"
    links:
      - mongo:mongo
    environment:
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=login
      - EXPRESS_SESSION_SECRET=${EXPRESS_SESSION_SECRET}
    ports:
      - "${DOCKERPORT}:8080"

  mongo:
    image: mongo:4
    ports:
      - "27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo:/data/db

# Specifying the network name makes it predictable on all environments,
# for example when running browser tests on a CI environment, or any other
# tasks which requires external docker containers to connect to our network.
# This network has been previously created in ./scripts/deploy.sh
# See https://github.com/docker/compose/issues/3736.
networks:
  default:
    external:
      name: ${DOCKERNETWORK}

volumes:
  mongo:
