@font-face {
  font-family: 'karmatic';
  src: url('fonts/ka1.ttf') format('truetype');
}
* {
  font-family: 'karmatic', courier;
}

.titre {
  color: green;
  text-align: center;
  padding: 30px;
  font-size: 3em;

}
.game-over .titre {
  color: white;
}
.panneau {
  width: 100%;
  height: 80%;
}
.cache-pour-une-seconde {
  display: none;
}
.jeu {
  width: 100%;
  height: 100%;
  background: grey;
  position: relative;
}
.ecran-de-bienvenue {
  background: yellow;
}
.prochain-niveau {
  background: red;
}

.game-over {
  background: green;
}
.modele {
  display: none;
  opacity: 0;
}
.point,
.collectible,
.obstacle {
  height: 10px;
  position: absolute;
  width: 10px;
}
.point {
  background: green;
}
.point[data-infecte=oui]:not([data-asymptomatique=oui]) {
  position: absolute;
  background: url(images/enemies/monster_red.gif-variants/offset_1-monster_red.gif) no-repeat center center;
  position: absolute;
  background-size: 175% 150%;
}

.point[data-infecte=oui][data-random-start-frame="2"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_2-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="3"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_3-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="4"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_4-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="5"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_5-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="6"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_6-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="7"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_7-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="8"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_8-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="9"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_9-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="10"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_10-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="11"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_11-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="12"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_12-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="13"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_13-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="14"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_14-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="15"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_15-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="16"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_16-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="17"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_17-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="18"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_18-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="19"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_19-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="20"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_20-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="21"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_21-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="22"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_22-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="23"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_23-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="24"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_24-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="25"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_25-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="26"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_26-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="27"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_27-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="28"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_28-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="29"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_29-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="30"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_30-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="31"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_31-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="32"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_32-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="33"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_33-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="34"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_34-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="35"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_35-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="36"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_36-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="37"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_37-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="38"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_38-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="39"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_39-monster_red.gif);
}

.point[data-infecte=oui][data-random-start-frame="40"]:not([data-asymptomatique=oui]) {
  background-image: url(images/enemies/monster_red.gif-variants/offset_40-monster_red.gif);
}

.collectible {
  background: blue;
}
.collectible-avancer-temps {
  background: DarkOrange;
}
.collectible-guerir {
  background: Fuchsia;
}
.infos {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}
.instructions {
  top: 0;
  font-size: 20px;
}
.obstacle {
  background: blue;
  opacity: 0.5;
}
.icon {
  height: 52px;
  width: 52px;
  background: url(images/sprite.png);
  text-indent: -20000px;
  border: none;
}
.icon-play {
  background-position: 0px -52px;
}
.icon-play:hover {
  background-position: 52px -52px;
}
.icon-menu {
  background-position: 0px -104px;
}
.icon-menu:hover {
  background-position: 52px -104px;
}
.point-de-bienvenue {
  height: 52px !important;
  width: 52px !important;
  background: url(images/sprite.png);
}

/* https://www.w3schools.com/howto/howto_css_center_button.asp */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.alerte-en-pause {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.alerte-en-pause-panneau {
 opacity: 0.5;
 background: black;
}
.alerte-en-pause-texte {
  font-size: 36px;
  text-align: center;
  top: 46%;
  color: white;
}
.intelligent {
  border: 2px black solid;
}
